<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>  
  <add key="AppPath" value="D:\repo\PaymentTerminal\Source\BTCS.PaymentTerminal.Client\bin\Debug\BTCS.PaymentTerminal.Client.exe" />
  <add key="AppiumWinDriverPath" value="C:\Program Files (x86)\Windows Application Driver\WinAppDriver.exe" />
</appSettings>
</configuration>